local_settings.py
node_modules/

__pycache__/
*.py[cod]
*$py.class

.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
*.egg-info/
.installed.cfg
*.egg

*.sw*

tags

htmlcov/
.coverage*

.idea/

package-lock.json
.DS-Store
